<!-- style="color:#aa55ff" -->
<h4 class="page__comments-title">Leave a comment</h4>
<script type="module" src="https://esm.sh/giscus"></script>

<div class="comments-container">
<giscus-widget
  id="comments"
  repo="sofijacom/sofijacom.github.io"
  repoid="R_kgDON7iIDw"
  category="General"
  categoryid="DIC_kwDON7iID84Cq1Zx"
  mapping="specific"
  term="Welcome to Kennel Linux!"
  reactionsenabled="1"
  emitmetadata="0"
  inputposition="top"
  theme="cobalt"
  lang="en"
  loading="lazy"
></giscus-widget>
</div>

<style>
.comments-container {
  max-height: 640px;
  overflow-y: scroll;
}

 giscus-widget {
  display: flex;
  margin: auto;
  max-width: 740px; 
}

/* or... */
#comments {
  /* ... */
}
/* or... */
#comments::part(iframe) {
  /* ... */
}
/* etc. */  
</style>

<!--
data-loading="lazy"
light, dark, catppuccin_latte, catppuccin_macchiato, catppuccin_mocha, catppuccin_frappe, gruvbox_light, transparent_dark, preferred_color_scheme, cobalt, purple_dark
-->
